.dashboard-main{
    width: 450px;
    margin: 70px auto;
}
.dashboard-form-main{
    background: white;
    box-sizing: border-box;
    padding: 40px;
    clear: both;
    width: 100%;
    height: 400px;
    text-align: center;
}
#create-task-heading{
    padding: 20px 0;
    text-transform: uppercase;
}
#new-task-error{
    color: red;
}